<h1>Home#index</h1>
<p>
  <%#- OmgImage::Image.delete_all %>

  <%= image_tag omg_image_preview(title: "Hi People<br/>how are you?", description: "Rails #{rand(200000)}", size: '300,150') %>

  <br/>

  <%#= image_tag omg_image_preview(title: "This is very interesting article. Check me out.", description: "Rails", x: 'xxxx'} %>

  <br/>

  <%#= image_tag omg_image_preview(title: "Hi, This is very interesting article. Check me out. And here and here. Please read me.", description: "Ruby", tags: ["Ruby", "Javascript", "C++", "React.js"], size: '1200,600') %>

  <br/>
  <br/>
  <br/>
</p>
