<h1>Home#index</h1>
<p>

  <%= image_tag omg_image_preview(omg: {title: "This is very interesting article. Check me out.", description: "Rails", x: 'xxxx'}) %>

  <br/>

  <%= image_tag omg_image_preview(omg: {title: "Hi, This is very interesting article. Check me out. And here and here. Please read me.", description: "Ruby", tags: ["Ruby", "Javascript", "C++", "React.js"]}, size: '1200,600') %>

</p>
