<h1>Sample of work:</h1>
<p>this is an images generated on the fly</p>
<p>
  <%= image_tag omg_image_preview('entity.html.erb', title: "OMG,<br/>this looks interesting!", tags: ['This', 'is', 'a', 'sample'], description: "Change me please", size: '600,300') %>
  <br/>
  <%= image_tag omg_image_preview('entity.html.erb', title: "OMG,<br/>this looks interesting!", description: "Small version", size: '400,200') %>
  <br/>
  <%= image_tag omg_image_preview('square.html.erb', title: "Real-time generation", size: '200,200') %>
</p>
